name: Run Tests

on:
  # Allow manually running from Github UI or API.
  workflow_dispatch:
  # to re-run status checks, mark as draft then ready_for_review
  pull_request:
    types: [opened, ready_for_review]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: Run tests
        run: |
          pytest